<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/stylesheets/style.css' rel='stylesheet'/>
    <title>REGISTER</title>
    <link rel="icon" type="image/x-icon" href="/e_store/elephant_girl_favicon.ico">
</head>
<body>
    <header>
        <div id="title_and_logo">
            <h1 id="website_title"><em>ELEPHANT ART</em></h1>
            <!-- <img src="https://i.imgur.com/zAXb2g4.gif" alt="elephant girl's logo" width="200px" height="200px" id="page_logo" style="object-fit:cover" > -->
        </div>
    
    <nav>
        <a href="/">HOME</a> |
        <a href="/login"> LOGIN</a> |
        <a href="/register"> REGISTER</a> |
        <a href="/artworks"> ARTWORKS</a> |
    </nav>
    </header>
    
    <h1>LOG IN PAGE</h1>



    <form action="/login" method="post" class="fill-in-form" id="login-form">
       
        <label for="emailInput">EMAIL: </label> <input type="email" id="emailInput" name="email"> <br>
        <label for="passwordInput">PASSWORD: </label><input type="password" id="passwordInput" name="password"><br>
        <button type="submit">LOG IN</button>
    </form>

</body>
</html>

