<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/e_store/elephant_girl_favicon.ico">
</head>
<body>
    <header>
        <h1>ELEPHANT GIRL'S ART SHOP</h1>
        <img src="https://i.imgur.com/H0aX4jM.gif" title="source: imgur.com" />
        <img src="https://i.imgur.com/zAXb2g4.gif"/>
        <img src="https://i.imgur.com/NWHcyjU.png" alt="elephant girl's logo">
        <nav>
            <a href="/">HOME</a> |
            <a href="/login"> LOGIN</a> |
            <a href="/register"> REGISTER</a> |
            <a href="/artworks"> ARTWORKS</a> |
        </nav>
        </header>

        <div>
            <img src="https://i.imgur.com/H0aX4jM.gif" alt="elephant girl's logo"/>
            <img src="https://i.imgur.com/zAXb2g4.gif" alt="elephant girl's gif"/>
            
        </div>
        

    <form action="" method="">
        <label for=""></label><input type="" id="" name=""><br>
        <label for=""></label><input type="" id="" name=""><br>
        <label for=""></label><input type="" id="" name=""><br>
        <label for=""></label><input type="" id="" name=""><br>
        <button type="submit">SUBMIT</button>
    </form>


    <footer>
        <h4>Contact Us:</h4>
        <p>Copyright of Kehinde Khourie</p>
    </footer>
    
</body>
</html>