body {
  padding: 2rem 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/zAXb2g4.gif");
  /* background-image: url("https://i.imgur.com/nOHsfB9.jpg");  */
  /*background-image: url("https://i.imgur.com/H0aX4jM.gif"); */
  background-attachment: fixed;
  background-position: center;
}


.home-body{
  padding: 2rem 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  background-repeat: repeat-x;
  background-image: url("https://i.imgur.com/nOHsfB9.jpg"); 
  /* background-image: url("https://i.imgur.com/H0aX4jM.gif"); */
  /* background-image: url("https://i.imgur.com/zAXb2g4.gif"); */
  /* background-attachment: fixed;
  background-position: center; */
}

a {
  color: navy;
  font-weight: bolder;
}

header{
  color: purple;
  /* background-color: white; */
  /* background-image: url('https://img.freepik.com/free-vector/engraving-hand-drawn-botanical-pattern_23-2148975165.jpg');
  
  background-repeat: repeat-x; */
}

.home-header{
  color: purple;
  background-color: white;
  background-image: url('https://img.freepik.com/free-vector/engraving-hand-drawn-botanical-pattern_23-2148975165.jpg');
  background-repeat: repeat-x;
}

.title_and_logo{
  display: flex;
}
.website_title{
  margin-top: 90px;
}
.page-message{
  color:gold;
  font-size: 1.4vw;
  font-weight: 700;
}




.body_div{
  border: none;
}
.fill-in-form{
  background-color: white;
  width: 17rem;
  height: 12rem;
  position: fixed;
  left: 35%;
  top: 40vh;
  border: 3px solid purple;
  border-radius: 15%;
  padding: 2rem;
}


/*HOME PAGE*/
.homeImages-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homeImages-individual-container{

}

.individual-homeImage-container{
  margin: 2rem;
}

.homeImages-image{
  height: 30vh;
  width: 100%;
  border: 6px solid violet;
}

.homeImages-title{
  color:indigo;
  font-size: 1.5vw;
  font-weight: 650;
}

.homeImages-artist{
  color:red;
  font-size: 1.2vw;
  font-weight: 600;
}

.homeImages-category{
  color: black;
  font-size: 1.2vw;
  font-family: 600;
}

.homeImages-price{
  color: blue;
  font-size: 1vw;
  font-weight: 600;
}

/* END OF HOME PAGE*/






/*ARTIST DASHBOARD*/

.user-artworks-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.individual-artwork-container{
  margin: 2rem;
}

.individual-artwork-image{
  height: 30vh;
  width: 100%;
  border: 6px solid violet;
}

.artwork-title{
  color:indigo;
  font-size: 1.5vw;
  font-weight: 650;
}

.artwork-artist{
  color:red;
  font-size: 1.2vw;
  font-weight: 600;
  margin-left: 2rem;
}

.artwork-category{
  color: black;
  font-size: 1.2vw;
  font-family: 600;
}
.artwork-price{
  color: blue;
  font-size: 1vw;
  font-weight: 600;
}

.dashboard-see-more-button{
  color:blueviolet;
  font-weight: 700;
  background-color: aqua;
  border-radius: 20rem;
  border: 3px solid pink;
  height: 3vh;
  width: 6rem;
  margin-left: 30%;
}

#upload-form{
  visibility: hidden;
  width: 18rem;
  height: 18rem;
}
.reveal-form-button{
  background-color: orangered;
  color: gold;
  font-weight: bold;
  width: 7rem;
  height: 2rem;
  border-radius: 10%;
  border: 1px solid blueviolet;
}

.close-form-button{
  color: red;
  border: 1px solid black;
  border-radius: 60%;
  background: none;
}
/* END OF ARTIST DASHBOARD*/


/*SPECIFIC ARTWORK PAGE*/
#update-form{
  visibility: hidden;
}
/**/



/* NOT FOUND PAGE*/
.not-found-image{
  height: 100vh;
  width: 50rem;
  object-fit: cover;
  object-position: 50%, 0%;

}
.not-found-message{
  color: palevioletred;
  font-weight: bolder;
  position: absolute;
  bottom:10vh;
  left: 23%;
}